html,
body,
.level {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 450px;
    max-height: 800px;
    overflow: hidden;
}

.level,
.player {
    display: none;
}

.level-active {
    display: block;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.loader .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.loader .message {
    position: relative;
    margin: 20px auto;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.loader .pacman {
    position: relative;
    margin: 40% 0 0 52%;
}

.loader .pacman > .pacman2 {
    -webkit-animation: pacman-balls 1s -0.99s infinite linear;
    animation: pacman-balls 1s -0.99s infinite linear;
}

.loader .pacman > .pacman3 {
    -webkit-animation: pacman-balls 1s -0.66s infinite linear;
    animation: pacman-balls 1s -0.66s infinite linear;
}

.loader .pacman > .pacman4 {
    -webkit-animation: pacman-balls 1s -0.33s infinite linear;
    animation: pacman-balls 1s -0.33s infinite linear;
}

.loader .pacman > .pacman5 {
    -webkit-animation: pacman-balls 1s 0s infinite linear;
    animation: pacman-balls 1s 0s infinite linear;
}

.loader .pacman > .pacman1 {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
    animation: rotate_pacman_half_up 0.5s 0s infinite;
    position: relative;
    left: -30px;
}

.loader .pacman > .pacman2 {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
    animation: rotate_pacman_half_down 0.5s 0s infinite;
    margin-top: -50px;
    position: relative;
    left: -30px;
}

.loader .pacman > .pacman3,
.loader .pacman > .pacman4,
.loader .pacman > .pacman5 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translate(0, -6.25px);
    -ms-transform: translate(0, -6.25px);
    transform: translate(0, -6.25px);
    top: 25px;
    left: 70px;
}

@-webkit-keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@-webkit-keyframes pacman-balls {
    75% {
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate(-100px, -6.25px);
        transform: translate(-100px, -6.25px);
    }
}

@keyframes pacman-balls {
    75% {
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate(-100px, -6.25px);
        transform: translate(-100px, -6.25px);
    }
}

.button {
    position: absolute;
    bottom: 8%;
    cursor: pointer;
}

.bg,
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
}

.cake {
    position: absolute;
    width: 50%;
}

.hand {
    position: absolute;
    width: 70%;
}

.pa {
    position: absolute;
    width: 100px;
}

.home .text,
.home .button {
    margin: 0 12%;
    width: 76%;
}

.home .t1 {
    top: 0;
}

.home .t2 {
    top: 30%;
}

.home .t3 {
    top: 47%;
}

.ready .text {
    position: relative;
}

.ready .t4 {
    margin: 6% 0 0 1%;
    width: 42%;
}

.ready .t5 {
    margin: 3% 0 0 5%;
    width: 40%;
    vertical-align: top;
}

.ready .t6 {
    margin: 20% 20%;
    width: 60%;
}

.win .t7 {
    margin: 3% 10%;
    width: 80%;
}

.win .t8 {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
}

.win .button,
.fail .button {
    width: 100%;
}

.fail .t9 {
    margin: 0 5%;
    width: 90%;
}

.core .h1 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.core .h2 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.core .h3 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.core .h4 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.core .timer,
.core .counter {
    top: 1%;
    color: brown;
}

.core .timer {
    left: 30%;
}

.core .counter {
    right: 13%;
}

.win .counter {
    top: 70%;
    left: 61%;
    color: yellow;
}

.core .timer,
.core .counter,
.win .counter {
    position: absolute;
    line-height: 28px;
    font: bold 28px "Arial";
}

.home .text,
.home .button {
    display: none;
    -webkit-animation: bounceInDown 1s linear 0s 1 alternate;
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}